* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.3s;
}

.preload {
  background: #d5f4ff;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #002385;
  z-index: 1;
}

.preload_logo {
  width: 200px;
}

.preload_load {
  width: 50px;
  margin-top: 50px;
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(-360deg);
  }
}

body {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 70px);
  color: #222e3a;
  opacity: 0;
  animation: fade 1s linear forwards;
}

.clima {
  width: 100%;
  grid-column: 1/3;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clima__cidade-temperatura,
.clima__cidade-data {
  font-size: 20px;
}

.clima__cidade {
  font-size: 30px;
}

.nigth {
  background-color: #223344;
  color: aliceblue;
}

.nigth .clima{
    background-color: #223344;
}

.clima__cidade-temperatura {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.imagens {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.imagens img,
.imgIntro {
  width: 80px;
  margin: 20px 0px;
}

.imgIntro {
  width: 120px;
}

.nigth header {
  border-bottom: 2px solid aliceblue;
  background-color: #112232;
}

.nigth #cidade {
  outline: 2px solid aliceblue;
  background-color: #223344;
  color: aliceblue;
}

.nigth .btn-clima {
  filter: invert(100%);
}

#cidade {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  width: 85px;
  transition: 0.5s;
  outline: 2px solid #6286a8;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lembrar {
  grid-column: 1/3;
  margin-top: -100px !important;
  font-size: 18px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn-clima {
  width: 50px;
  height: 30px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3183/3183361.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#cidade:hover {
  width: 120px;
}

.logo,
.clima__cidade-imagem {
  width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  background-color: #d5f4ff;
  border-bottom: 2px solid #6286a8;
  grid-column: 1/3;
  height: 70px;
  z-index: 1;
}

header img{
    width:35px;
}

.nigth header img{
    filter: invert(100%);
}

.nigth header .logo{
    filter: invert(0);
}

footer {
  text-align: center;
  padding: 25px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1/3;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 17px;
  font-weight: bold;
}

footer span {
  color: #6286a8;
}

@media (max-width: 800px) {
  header {
    padding: 10px 15px;
  }
}

@media (max-width: 300px) {
  #cidade:hover {
    width: 120px;
  }
}
